$font-family-light: 'HelveticaNeueCyr Light', Arial, sans-serif !default;
$font-family-bold: 'HelveticaNeueCyr Bold', Arial, sans-serif !default;
$font-family-black: 'HelveticaNeueCyr Black', Arial, sans-serif !default;
$font-family-heavy: 'HelveticaNeueCyr Heavy', Arial, sans-serif !default;
$font-family-medium: 'HelveticaNeueCyr Medium', Arial, sans-serif !default;
$font-family-roman: 'HelveticaNeueCyr Roman', Arial, sans-serif !default;
$font-family-thin: 'HelveticaNeueCyr Thin', Arial, sans-serif !default;

$colors: (
  primary: #003764,
  secondary: #00b181,
  link: #0055b8,
  primary-btn: #4281ca,
  primary-btn-hover: #3068a9,
  white-color: #fff,
  warning: #ed592b,
  banner-link: #d03505,
  heading: #0056b8,
  section-bg: #1f9bde
);

$grayColors: (
  lightest-gray: #f1f1f1,
  light-gray: #f3f3f3,
  gray-border: #eeeeee,
  gray-section: #f0f0f0,
  city-bg: #eceff9,
  city-border: #dbdee9,
  city-color: #565656,
  city-section: #f3f5f7
);
