.form {

  &-wr {
    padding-bottom: 40px;
  }

  &-control {
    height: 45px;
    border-radius: 0;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    color: #393939;
    padding: 2px 30px 0 18px;
    font: 1.06rem / 2.8125rem $font-family-roman;
    box-shadow: none;

    &:focus {
      border: 1px solid #e2e2e2;
      box-shadow: none;
      color: #393939;
    }
  }

  &-heading {
    position: relative;
    font: 1.5625rem / 1.4 $font-family-roman;
    padding: 15px 0 21px 30px;
    color: map-get($colors, heading);
    margin: 0;
    word-wrap: break-word;
  }

  &-label {
    margin-bottom: 5px;
    font: 0.875rem / 1.2 $font-family-bold;
    color: #252525;
    display: block;

    &--gift {
      color: #fff;
      font-size: 14px;
      text-align: left;
    }
  }

  &-group {
    position: relative;

    .alert {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
  &-info {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: flex-start;
  }
}

textarea.form-control {
  height: 100px;
  resize: none;
}

.alert {
  font-size: 0.8rem;
}

.error_text {
  display: none;
}

.has-error {
  .error_text {
    display: block;
  }
}
