.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 21;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  transition: top 1s;

  @include media-breakpoint-down(lg) {
    height: 80px;
  }

  @include media-breakpoint-down(sm) {
    height: 60px;
    position: relative;
  }

  &_h {
    height: 100px;

    @include media-breakpoint-down(lg) {
      height: 80px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &-wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }
  &-left {
    @include media-breakpoint-down(lg) {
      padding-left: 10px;
      max-width: 20%;
    }

    @include media-breakpoint-down(sm) {
      max-width: 40%;
      padding-left: 10px;
    }

  }

  &-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-right: 10px;
    }
  }

  &-language {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 1px solid #dadada;
    border-radius: 45px;
    color: map-get($colors, primary);
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}


.navbar {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    display: block;
    position: fixed;
    right: -100%;
    top: 0;
  }

  > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    > li {
      position: relative;
      margin: 0 17px;
      @include media-breakpoint-down(sm) {
        margin: 0 0 20px;
      }

      @include media-breakpoint-down(md) {
        margin: 0 10px;
      }

      a,
      span {
        display: block;
        font-size: 1rem;
        font-family: $font-family-medium;
        text-decoration: none;

        @include media-breakpoint-down(lg) {
          white-space: nowrap;
        }

      }
      &.custom {
        a,
        span {
          border: 1px dashed #ef5350;
          color: #ef5350;
          border-radius: 30px;
          padding: 5px 12px 5px 10px;
          line-height: 20px;
          transition: background-color .3s;
        }
      }
      .dropdown-menu {
        margin-top: 37px;
        min-width: 200px;
        padding: 0;

        @include media-breakpoint-down(lg) {
          margin-top: 27px;
        }
        > li {
          a {
            padding: 10px 15px;
          }
        }
      }
    }
  }
  .overflow-menu {
    display: none;
    height: 18px;

    .more-menu {
      margin: 0;
    }

    .dropdown-menu {
      @include media-breakpoint-down(lg) {
        margin-top: 21px;
      }
    }

    svg {
      width: 25px;
      height: 20px;
    }

    .dropdown-toggle:after {
      display: none;
    }

    @media (min-width: 767px) and (max-width: 1025px) {
      display: block;
    }
  }
}

.navbar-toggle {
  float: right;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  display: none;
  background-color: #4281ca;
  height: 45px;
  line-height: 60px;
  text-align: center;
  width: 50px;
  border-radius: 5px;
  margin-left: 5px;
  border: none;

  svg {
    width: 35px;
    height: 25px;
  }

  @include media-breakpoint-down(sm) {
    display: block;
  }
}


.sticky-calc {
    position: fixed;
    display: block;
    right: 0;
    left: 0;
    margin-right: -20px;
    margin-left: -20px;
    padding: 51px 0 50px;
    background-color: #f3f3f3;
    z-index: 900;
    transform: translate(0, -100%);
    transition: all 1s;

    &.active {
        transform: translate(0, 0);
    }

    @include media-breakpoint-down(lg) {
        padding-bottom: 0;
    }


    .calculator-right {
        background-color: #fff;
        border: 1px solid #e1e1e1;
        padding: 35px 45px;
        width: 55%;
        @include media-breakpoint-down(lg) {
            display: block;
            margin: 0 auto;
        }
        @include media-breakpoint-down(md) {
            width: 40%;
            margin: 0;
            padding: 20px;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding: 20px;
        }
    }

    .calculator-images {
        display: none;
    }

    .calculator-row {
      display: flex;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .calculator-left {
        width: 45%;
        border: none;
        border: 1px solid #e1e1e1;
        border-right: none;
        @include media-breakpoint-down(lg) {
            display: block;
            width: 60%;
            padding-left: 20px;
        }
        @include media-breakpoint-down(sm) {
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }
    }

    .credit-bottom,
    .calculator-left .calculator-heading {
        display: none;
    }

    .calculator-right .calculator-heading {
        font-size: 20px;
    }

    .calculator-table--wr {
        width: 50%;
        float: left;
        margin-right: 0;
        @include media-breakpoint-down(sm) {
            width: 66.666%;
            margin-bottom: 20px;
        }
        &+.calculator-table--wr {
            @include media-breakpoint-down(sm) {
                width: 33.333%;
            }
        }
    }

    .calculator-td-heading {
        min-width: 130px;
    }


    .slider-money--label {
        width: 62%;
        @include media-breakpoint-down(sm) {
            width: 56%;
        }
    }
    .slider-control--wr {
        width: 38%;
        @include media-breakpoint-down(sm) {
            font-size: 16px;
            width: 44%;
        }
    }
  }

  .popup-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 25px;
    right: 45px;
    background-color: transparent;
    opacity: 1;
    background-image: url(../images/close.png);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @include media-breakpoint-down(lg) {
      top: 10px;
    }
  }
