@font-face {
    font-family: 'HelveticaNeueCyr Bold';
    src: url('fonts/HelveticaNeueCyr-Bold.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Medium';
    src: url('fonts/HelveticaNeueCyr-Medium.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Thin';
    src: url('fonts/HelveticaNeueCyr-Thin.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Roman';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Light';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr Black';
    src: url('fonts/HelveticaNeueCyr-Black.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('fonts/HelveticaNeueCyr-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Medium';
    src: url('fonts/Lato-Medium.eot');
    src: local('☺'), url('fonts/Lato-Medium.woff') format('woff'), url('fonts/Lato-Medium.ttf') format('truetype'), url('fonts/Lato-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'Helveticaneuecyr Heavy';
    src: url('fonts/helveticaneuecyr-heavy_0.eot');
    src: local('☺'), url('fonts/helveticaneuecyr-heavy_0.woff') format('woff'), url('fonts/helveticaneuecyr-heavy_0.ttf') format('truetype'), url('fonts/helveticaneuecyr-heavy_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ux0uig');
  src:  url('fonts/icomoon.eot?ux0uig#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ux0uig') format('truetype'),
    url('fonts/icomoon.woff?ux0uig') format('woff'),
    url('fonts/icomoon.svg?ux0uig#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  fill: currentColor;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  fill: currentColor;
  display: inline-block;
}



.heading-h1 {
  margin: 0 0 25px;
}

.heading-h1,
h1 {
  font: 1.875rem $font-family-roman;
  color: map-get($colors, heading);
}

.heading-h2 {
  font-size: 2.5rem;
  line-height: 2.81rem;
  font-family: $font-family-roman;
  margin-bottom: 30px;
  color: map-get($colors, heading);

  @include media-breakpoint-down(md) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &--inverse {
    color: map-get($colors, white-color);
  }
}

.heading-content-h1 {
    font: 2rem $font-family-roman;
    color: map-get($colors, heading);
    word-wrap: break-word;
    margin: 10px 0 25px;
}

.heading-h3 {
    font: 1.375rem $font-family-roman;
    margin: 35px 0 20px;
    color: map-get($colors, heading);
}

.heading-video {
  font-size: 1.875rem;
  font-family: $font-family-roman;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 2.5rem;
  color: map-get($colors, white-color);

  @include media-breakpoint-down(sm) {
    display: none;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.small-heading {
    font: 0.93rem $font-family-medium;
    padding: 8px 10px;
    background-color: #ecf2fa;
    display: inline-block;
    border-radius: 3px;
    color: map-get($colors, heading);
    margin-bottom: 20px;
}

h1,
h2 {
  margin: 35px 0 20px;
}

h2 {
  font-size: 1.5625rem;
  line-height: 2rem;
  font-family: $font-family-roman;
  color: map-get($colors, heading);
}

h3 {
    font: 1.375rem $font-family-roman;
    margin: 35px 0 20px;
    color: map-get($colors, heading);
}


.custom-ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;

  li {
    position: relative;
    padding-left: 26px;
    font-size: 1rem;
    line-height: 1.5625rem;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #0059b7;
    }
  }
}
